header {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(169, 253, 166);
    text-align: center;
    padding: 5px 0px 5px 0px;
}

table {
    font-size: 20px;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    margin: 45px auto;
}

th, td {
    border: 2px solid black;
    padding: 8px;
}

.negrita {
    font-weight: bold;
    text-align: center;
}

.fondo-verde {
    background-color: rgb(173, 250, 173);
}

.texto-derch {
    text-align: right;
}

.letras-rojo {
    color: red;
}